<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entries Table</title>
    <link rel="stylesheet" href="/styles/retrieve.css">
</head>
<body>
     <header>
        <h2>Records for <%= username %>!</h2>
        <h4><%= date %></h4>
    </header>

    <nav>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li>Update a Record</li>
            <li><a href="/contact">Contact the Developer</a></li>
        </ul>
    </nav>

    <h2>Entries Table</h2>

    <% entries.forEach(entry => { %> 
        <h3><%= entry.date %></h3>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Morning Milk Yield</th>
                        <th>Noon Milk Yield</th>
                        <th>Total Expenses</th>
                        <th>Total Revenue</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= entry.morningMilkQuantity %></td>
                        <td><%= entry.eveningMilkQuantity %></td>
                        <td><%= entry.totalExpenditure %></td>
                        <td><%= entry.totalRevenue %></td>
                        <td><%= entry.Balance %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <%
            encodedDate = encodeURIComponent(entry.date);
         %>
        <button onclick="location.href='/individualRec/<%= encodedDate %>'">View Details</button>
    <% }) %>
    

</body>
</html>
